<!doctype html>
<title>Movie Genre Predictor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8">
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}" height ='200px' width='200px'>
		<h2>Predicted GENRE:</h2>
			<h2>{{image_pred}}</h2>

	</div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" >
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
